.create-match-container {
    padding: 24px;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

.create-match-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

.select-container {
    width: 100%;
    margin-bottom: 16px;
}

.select-container .react-select__control {
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    border: none;
}

.select-container .react-select__single-value {
    color: white;
}

.select-container .react-select__menu {
    background-color: #1e1e1e;
}

.button {
    background-color: #535bf2;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-top: 12px;
}

.button:hover {
    background-color: #333;
}

.button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.file-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    outline: none;
}

.file-input::file-selector-button {
    background-color: #535bf2;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.file-input::file-selector-button:hover {
    background-color: #333;
}

.centeringtext {
    text-align: center;
    justify-content: center;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1rem;
}
